<%- include("../template/cabecera.ejs", {tituloWeb: 'pagina de inicio'})  %>





    <h1 class=" text-danger"> Escrito en index.ejs de la carpeta views</h1>

    <h2><%= titulo %></h2>

<%- include("../template/footer.ejs")  %>